@import "../colors";
@import "../variables";

.footer {
  &__head {
    min-height: 80px;
    border-top: 1px solid #dadbdb;
    border-bottom: 1px solid #dadbdb;

    .logo {
      img {
        height: 30px;
      }
    }

    .button--secondary {
      border-color: $color-accent;
      margin-right: 25px;
    }

    .footer__icon {
      margin-right: 20px;
      &.card {
        margin-left: 10px;
        margin-right: 0;
      }
      img {
        width: 40p;
      }
    }
  }

  &__disclaimer {
    font-size: 18px;
    min-height: 100px;
    text-align: center;
  }
}

.float__block {
  position: fixed;
  right: 10%;
  bottom: 50px;
  z-index: 9999;
  transition: all 0.2s;
  .go-top {
    transform: translateX(1000px);
    transition: all 0.2s;
    background-color: #f2f6f7;
    border-radius: 100%;
  }

  &__icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }
}
